body {
  margin: 0px;
}
.navbar {
  padding: 0.1rem;
}

.nav-item {
  color: blanchedalmond;
}

.navbar-expand .navbar-nav  {
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
}

.navbar-brand {
  width: 10%;
}

.logo__ze-birita {
  border-radius: 5rem;
  display: flex;
  min-width: 5px;
  width: 75%;
  margin: 0px;
}
