.login {
  align-items: center;
  background: rgb(230, 22, 22);
  background-image: url('../assets/bg-texture.png');
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.logo__ze-birita {
  display: flex;
  height: 25%;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  max-width: 35%;
  width: 25%;
}

.logo__ze-birita__img {
  border-radius: 47%;
  display: flex;
  min-width: 150px;
  width: 60%;
}

.login__form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 0.5rem;
}

.form__label {
  padding: 0.8rem;
}

.form__control {
  margin-bottom: 0.8rem;
}

.button__register {
  border-radius: 0.3rem;
  padding: 0.2rem;
}

.col-auto {
  display: flex;
  justify-content: center;
}

.btn-close {
  background: red;
  padding: 0.5rem;
  width: 1rem;
}

.fade {
  align-items: center;
  background-color: yellow;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 0.8rem;
}

.alert-heading {
  width: 80%;
}
